* {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

body {min-width: 1300px;}

header {
  display: grid;
  grid-template-columns: repeat(12, 8.4%);
  grid-template-rows: repeat(15, 70px);
  background: url(../img/main_img.jpeg) no-repeat;
  background-size: cover;
  background-position-y: -117px;
  border-bottom: 10px solid black;
}

.navigation {
  grid-column: 3/11;
  grid-row: 2;
}

.navigation ul {float: right;}

.navigation ul li a {color: white;}

.navigation ul li {
  display: inline-block;
  padding-right: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  margin-left: 50px;
  margin-top: 45px;
}

.btn-1 {
  grid-column: 11/13;
  margin-top: 50px;
}

.btn-1 button:first-of-type {
  background-image: url(../img/btn_img.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 23px;
  height: 17px;
}

.btn-1 button:last-of-type {
  width: 188px;
  height: 60px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.btn-1 button:last-of-type span {
  color: #68cee7; font-size: 17px;
}

.btn-2 {
  grid-column: 7/12;
}

.btn-2 p:first-of-type {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
  color: #e5aecd;
}

.btn-2 h1 {
  margin-bottom: 30px;
  color: white;
}

.btn-2 p:last-of-type {
  font-weight: bold;
  color: #97155b;
  margin-bottom: 8vw;
}

.btn-2 button {
  width: 273px;
  height: 71px;
  background-color: #d60c1a;
  text-transform: capitalize;
  color: white;
  font-size: 25px;
  cursor: pointer;
  border: none;
}

.maincontent {
  display: grid;
  background-color: #a99494;
  padding: 0px 55px;
}

.maincontent ul{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 231px);
  grid-column-gap: 3%;
  margin-top: -30px;
}

.maincontent ul li {
  background-color: white;
  min-height: 560px;
  padding-left: 45px;
  padding-right: 16px;
  box-shadow: 5px 3px 15px 0px rgb(0 0 0 / 63%);
}

.maincontent ul li img {
  width: 100%;
  display: inline-block;
  margin-top: -50px;
}

.box {
  width: 97%;
  min-height: 545px;
  padding: 10px;
  display: inline-block;
  box-shadow: 11px 9px 7px -8px rgb(187 187 187 / 57%);
}

.maincontent .boxlast {
  width: 97%;
  min-height: 545px;
  padding: 10px;
  display: inline-block;
}

.maincontent li:last-of-type {
  padding: 0px;
  padding-right: 35px;
  padding-left: 10px;
}

.box h1 {
  margin: 35px 0px;
}

.box p {font-weight: bold;}

.box h1::after {
  content: ' ';
  border-bottom: 12px solid #d60c18;
  display: block;
  margin-top: 25px;
  width: 5em;
}

.boxlast h1::after {
  content: ' ';
  border-bottom: 12px solid #d60c18;
  display: block;
  margin-top: 95px;
  width: 5em;
}

.services {
  background-color: white;
  min-height: 550px;
}

.services span a {
  float: right;
  padding: 100px;
  font-size: 30px;
  color: black;
}

footer {
  background-color: black;
  min-height: 550px;
}